.Rproj.user
.Rhistory
.RData
.Ruserdata

.Rproj.user/5F17CE39/pcs/files-pane.pper

.Rproj.user/5F17CE39/pcs/source-pane.pper

.Rproj.user/5F17CE39/pcs/windowlayoutstate.pper

.Rproj.user/5F17CE39/pcs/workbench-pane.pper

.Rproj.user/5F17CE39/sources/prop/30D2BD54

.Rproj.user/5F17CE39/sources/prop/F08B6214

.Rproj.user/5F17CE39/sources/prop/INDEX

.Rproj.user/5F17CE39/sources/session-804d569e/4A547C58

.Rproj.user/5F17CE39/sources/session-804d569e/4A547C58-contents

.Rproj.user/5F17CE39/sources/session-804d569e/97B66FC0-contents

.Rproj.user/5F17CE39/sources/session-804d569e/lock_file

.Rproj.user/shared/notebooks/patch-chunk-names

.Rproj.user/shared/notebooks/paths
